.button {
    margin: 5px;
    background-color: #0091ea;
    border-radius: 6px;
    border: 1px solid #337fed;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 24px;
}

.button:hover {
    background-color: #1570cd;
}

.button:active {
    position: relative;
    top: 1px;
}